@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', Sans-Serif;
}

body {
  background: #172a4b;
}


.wrapper {
  margin: 5px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 5px;
  background: #172a4
}

.table_wrap {
  bottom-margin: 3px;
}

.wrapper .table_title {
  background: fff;
  padding: 15px 20px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  font-weight:700;
  font-size: 20px;
  color: #ffffff;
}

.wrapper .table_header {
  color: #a1a1a1;
}

.wrapper .item_wrap {
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 5px;
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  align-items:center;
}

.wrapper .item_container {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  line-height: 1.1;
  padding: 10px 5px;
  align-items:center;

}

.item_left {
 line-height: 1.1;
 float:left;
 width:50%;
 max-height: 50%;
 min-height: 10%; 
 margin-left: 15%;
}

.item_right {
  line-height: 1.1;
  float: right;
  width: 50%;
  max-height: 0%;
  min-height: 10%;
}

.vertical_line {
  height: 100%;
  border-right: 1.4px solid #D0D0D0;
  right: 50%;
}
        
.vertical_line_definition {
  height: 45px;
  border-left: 1.4px solid #D0D0D0;
}

.wrapper .table_body.item-wrap:last-child{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.wrapper .table_header .item_wrap{
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.wrapper .table_body .item-container:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.wrapper .table_body .item-wrap:hover {
  background: #eaeff9;
}


.wrapper .item_wrap .item {
  width: 18%;
}



@media (max-width: 600px){
  .wrapper .item_wrap .item{
    width: 25%;
  }
  .wrapper .item_wrap .item.item_order{
    display: none;
  }
}

.wrapper .item_wrap .item.item_term{
  display: flex;
}

.wrapper .item_wrap .item.item_cost .item_definition{
  display: flex;
  width: 20px;
  justify-content: space-between;
}


.wrapper .item_wrap .item.item_definition p,
.wrapper .item_wrap .item.item_term p {
  white-space: nowrap;
  overflow: auto;
}

@media (max-width: 450px){
  .wrapper .item_wrap .item{
    width: 33%;
  }
  .wrapper .item_wrap .item.item_cost{
    display: none;
  }
}